<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Arduino Remote Control</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base>
  </head>
  <body>
    <h1>Arduino Remote Control</h1>
    {% for pin in range(arduino.pin_count) %}
      <button
        onclick="toggle.call(this)"
        data-pin="{{ pin }}"
      >Pin {{ pin + 1 }}</button>
    {% endfor %}
  </body>
  <script src="static/script.js"></script>
</html>
